<!DOCTYPE html>
<html>
<head>
  <title>MazeExercise</title>
  <link href="http://d2v52k3cl9vedd.cloudfront.net/basscss/7.0.4/basscss.min.css" rel="stylesheet">  
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container p2">
<%= yield %>
</div>
</body>
</html>
